C:/Users/PC/Desktop/Documents/Alumno/Proyecto-ML-con-regresionLineal/Relación[[:space:]]entre[[:space:]]Consumo[[:space:]]de[[:space:]]Energía[[:space:]]y[[:space:]]Emisiones[[:space:]]de[[:space:]]CO2[[:space:]]por[[:space:]]País filter=lfs diff=lfs merge=lfs -text
